// Variables
//-----------------------------------------------------
$primary-color: #fff;
$secondary-color: rgba(221,190,92,1);
$third-color: rgba(205,166,40,1);
$fourth-color: #333;
$primary-font: 'Josefin Sans';
$secondary-font: 'Lobster';

// CSS Files
//-----------------------------------------------------
@import 'main';




