// Variables
//-----------------------------------------------------
$primary-color: #fff;
$secondary-color: rgba(221,190,92,1);
$third-color: rgba(205,166,40,1);
$fourth-color: #333;
$primary-font: 'Josefin Sans';
$secondary-font: 'Lobster';

// Mixins
//-----------------------------------------------------
@mixin easeOut {
    transition: all 0.3s ease-out;
}

@mixin button {
        font-size: 14px;
        font-family: $primary-font;
        font-weight: 400;
        text-transform: uppercase;
        border: none;
        border-radius: 50px;
        background: $secondary-color;
        background: linear-gradient(90deg, $secondary-color 25%, $third-color 75%);
        color: $primary-color;
        letter-spacing: 3px;
        cursor: pointer;
        outline: none;
}

@mixin popupInput {
    margin: 20px 40px;
    border: none;
    border-bottom: 1px solid $fourth-color;
//    -webkit-box-shadow: 0px 1px 0px 0px rgba(0,0,0,1);
//    -moz-box-shadow: 0px 1px 0px 0px rgba(0,0,0,1);
//    box-shadow: 0px 1px 0px 0px rgba(0,0,0,1);
    text-align: center;
    font-size: 15px;
    padding: 10px;
    outline: none;
}

// Media Query Mixins
//-----------------------------------------------------
@mixin mediaSm {
    @media screen and (max-width: 499px) {
        @content;
    }
}

@mixin mediaMd {
    @media screen and (min-width: 500px) and (max-width: 766px) {
        @content;
    }
}

@mixin mediaLg {
    @media screen and (min-width: 767px) and (max-width: 1023px) {
        @content;
    }
}

// CSS Files
//-----------------------------------------------------
@import 'nav';
@import 'mobile-nav';
@import 'main';
@import 'jumbotron';
@import 'popup';
@import 'modal';
@import 'footer';